/**
 * @name Astolfo Theme
 * @author Snow-Shrine
 * @description Astolfo Theme
 * @version 5.1
 */

 .app-2CXKsg {
    background-image: url(https://i.pinimg.com/originals/c0/73/db/c073db2e5973796c05d85fb4ea0be383.jpg);
    background-size: cover;
    background-color: transparent;
}
